body{
	font: 10pt Arial, Helvetica, sans-serif;
	background: #263849 url('../i/pattern.png');
}
#sum{
	width: 485px;
	height: 221px;
	margin: 167px auto;
	
}
h1{
	width: 401px;
	height: 127px;
	background: transparent url('../i/logo.png') no-repeat;
	margin: 0 27px 21px;
} 
h1 span{
	display: none;
}
#content{
	width: 485px;
	height: 221px;
	background: url('../i/form.png') no-repeat;	
}
.f{
	padding: 45px 50px 45px 38px;	
	overflow: hidden;
}
.field{
	clear:both;
	text-align: right;
	margin-bottom: 10px;
}
.field label{
	float:left;
	font-weight: bold;
	line-height: 42px;
}
.field input{
	background: #fff url('../i/input.png') no-repeat;
	outline: none;
	border: none;
	font-size: 10pt;
	padding: 7px 9px 8px;
	width: 279px;
	height: 25px;
	font-size: 18px;
	font-weight:bolder;
	color:#444444;
}
.field input.active{
	background: url('../i/input_act.png') no-repeat;
}
.button{
	width: 297px;
	float: right;
}
.button input{
	width: 69px;
	background: url('../i/btn_bg.png') no-repeat;
	border: 0;
	font-weight: bold;
	height: 27px;
	float: left;
	padding: 0;
}
.Button2014-lg {
    border-radius: 6px 6px 6px 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}
.Button2014-success {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
}
.Button2014 {
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 22px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

a.Button2014, a.Button2014:link, a.Button2014:visited, a.Button2014:hover{
	color: #FFFFFF;
	text-decoration:none;	
}

.Button2014-success {
    background-color: #5CB85C !important;
    border-color: #4CAE4C !important;
    color: #FFFFFF !important;
}
.Button2014-success:hover, .Button2014-success:focus, .Button2014-success:active, .Button2014-success.active, .open .dropdown-toggle.Button2014-success {
    background-color: #47A447 !important;
    border-color: #398439 !important;
    color: #FFFFFF !important;
}
.Button2014-success:active, .Button2014-success.active, .open .dropdown-toggle.Button2014-success {
    background-image: none;
}
.Button2014-success.disabled, .Button2014-success[disabled], fieldset[disabled] .Button2014-success, .Button2014-success.disabled:hover, .Button2014-success[disabled]:hover, fieldset[disabled] .Button2014-success:hover, .Button2014-success.disabled:focus, .Button2014-success[disabled]:focus, fieldset[disabled] .Button2014-success:focus, .Button2014-success.disabled:active, .Button2014-success[disabled]:active, fieldset[disabled] .Button2014-success:active, .Button2014-success.disabled.active, .Button2014-success.active[disabled], fieldset[disabled] .Button2014-success.active {
    background-color: #5CB85C !important;
    border-color: #4CAE4C !important;
}
